{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "SHARES_TABLE_CONNECTION": "<your Azure Storage connection string>",
    "AUTH_CLIENT_ID": "f6cc681a-3d33-4c43-8c4d-d273154c9c2c",
    "AUTH_ALLOWED_DOMAIN": ""
  }
}
